.home {
    min-height: 
    100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../assets/plums.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}