.contractForm {
    background-color: rgba($color: #000000, $alpha: 0.95) !important;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7vh 8vw;
    border-radius: 7px;
    font-size: 13pt;
}
