.header {
    position: absolute !important;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.95) !important;

    & * {
        // Aplica el estilo a todos los elementos hijos
        color: white;
    }

    z-index: 1;
}

.navbar-toggler {
    border-color: rgb(163, 176, 163) !important;
}