.marketplace {
    min-height: 100vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-image: url('../../assets/fruits.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}